html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  /*background: #141E30; /* fallback for old browsers */*/
  /*background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */*/
  /*background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
}

#charts {
  max-width: 300px;
  max-height: 300px;
}
