<div class="row">
    <div id="calendarContainer" class="pull-right col-md-8">
        <div class="row">
            <div class="col-md-6">
                <div id="calendarDisplay" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources">
                </div>
                <pre>Selected Event: {{eventDate}} <em>{{ eventTitle }}</em></pre>
            </div>
            <div class="col-md-1">
            </div>
            <div id="miniCalendar" class="col-md-5">
            <div>
            <h4>Add a note to your calendar:</h4>
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" id="dateBox" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="miniCalendar.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openMiniCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <h4>Type your note here:</h4>
                        <textarea rows="2" cols="50" placeholder="Ex. Added fertilizer" ng-model="noteBox"></textarea>
                        <button type="button" class="btn btn-sm btn-info" ng-click="addToCalendar(noteBox, dt)">Add to Calendar</button>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="noteBox=''">Clear</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
